.mypage-container
  .mypage-container__flex
    = render partial: "left_menu"

    .right-profile
      .right-profile__header
        名前: #{current_user.name} さん
      %h2.right-profile__mentee あなたのメンティー
      %ul.mentee-all
        - @permit_requests.each do |list|
          = render partial: "/users/mentee", locals: { mentee: list }