.mypage-container
  .mypage-container__flex
    = render partial: "left_menu"

    .right-profile
      .right-profile__header
        名前: #{current_user.name} さん
      %h2.right-profile__info お知らせ
      %ul.info-all
        %li.info-all__list
          .info-all__list__wrapper
            .info-message お知らせ 1
            .info-time 4月19日 00:00
        %li.info-all__list
          .info-all__list__wrapper
            .info-message お知らせ 2
            .info-time 4月20日 00:00
        %li.info-all__list
          .info-all__list__wrapper
            .info-message お知らせ 3
            .info-time 4月21日 00:00

      .right-profile__messages 新着メッセージ
      %ul.messages-all
        %li.messages-all__list
          .messages-all__list__wrapper
            .message-username スーツさん
            .message-text お知らせ 1
            .message-time 4月19日 00:00
        %li.messages-all__list
          .messages-all__list__wrapper
            .message-username スーツさん
            .message-text お知らせ 2
            .message-time 4月20日 00:00
        %li.messages-all__list
          .messages-all__list__wrapper
            .message-username スーツさん
            .message-text お知らせ 3
            .message-time 4月21日 00:00