.respond-message-form {
  width: 100%;
  background-color: orange;
  padding: 24px 20%;
  padding-bottom: 32px;
  margin-top: 24px;
  &__guide {
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: block;
    margin-bottom: 8px;
  }
  &__margin {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .message-form__box {
      width: 100%;
      display: flex;
      justify-content: center;
      &__content {
        width: 90%;
        height: 40px;
        margin-right: auto;
      }
      &__btn {
        width: 8%;
        height: 40px;
        border: 1px solid;
        cursor: pointer;
        color: white;
        background-color: rgb(163, 159, 159);
      }
    }
  }
}
