.show-post-page {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: #f4f8fa;
  .user-profile {
    position: sticky;
    align-self: flex-start;
    top: 100px;
    background-color: white;
    width: 30%;
    padding: 40px;
    &__icon {
      padding: 16px;
      text-align: center;
      margin-bottom: 32px;
      &__show {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        vertical-align: bottom;
      }
    }
    &__info {
      &__name {
        text-align: left;
        padding-bottom: 16px;
        border-bottom: 1px solid gray;
        pointer-events: none;
        &__insert {
          display: block;
          font-size: 20px;
          font-weight: bold;
          margin: 0 auto;
          width: fit-content;
        }
      }
      &__fee {
        text-align: left;
        padding: 16px 0;
        border-bottom: 1px solid gray;
        pointer-events: none;
        &__insert {
          display: block;
          font-size: 18px;
          font-weight: bold;
          margin: 0 auto;
          width: fit-content;
        }
      }
      &__score {
        display: flex;
        justify-content: center;
        padding: 16px 0;
        border-bottom: 1px solid gray;
        pointer-events: none;
        &__insert {
          font-size: 18px;
          font-weight: bold;
          width: fit-content;
        }
        &__star {
          img {
            height: 24px;
          }
        }
      }
    }
  }

  .user-appeal {
    background-color: white;
    width: 55%;
    .post__title {
      padding: 8px 0;
      text-align: center;
      background-color: paleturquoise;
      font-size: 40px;
      font-weight: 900;
    }
    .post__content {
      padding: 16px;
      text-align: left;
      font-size: 20px;
      letter-spacing: 0.1rem;
      &__tag {
        background-color: #f4f8fa;
        display: flex;
        margin-bottom: 12px;
        ul {
          display: flex;
          justify-content: space-between;
          padding: 8px 0;
          li {
            margin-left: 24px;
            padding: 2px 8px;
            font-size: 16px;
            font-weight: 600;
            color: white;
            background-color: orange;
            border-radius: 16px;
          }
        }
      }
    }
  }
}
.edit-and-destroy-links {
  width: 100%;
  background-color: orange;
  display: flex;
  justify-content: center;
  &__link {
    height: 40px;
    line-height: 40px;
    display: block;
    margin: 24px 80px;
    padding: 0 12px;
    background-color: white;
    color: orange;
    font-weight: 700;
    border: 1px solid #fcc9ac;
    border-radius: 8px;
  }
}

.message-and-request-links {
  width: 100%;
  background-color: orange;
  &__form {
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    &__link {
      height: 40px;
      line-height: 40px;
      display: block;
      margin: 24px 80px;
      padding: 0 12px;
      background-color: white;
      color: orange;
      font-weight: 700;
      border: 1px solid #fcc9ac;
      border-radius: 8px;
    }
  }

  .message-form {
    width: 55%;
    margin: 0 auto;
    padding-bottom: 16px;
    background-color: orange;
    &__guide {
      color: white;
      font-weight: bold;
      font-size: 14px;
    }
    &__margin {
      width: 100%;
      display: flex;
      justify-content: center;
      
      .message-form__box {
        width: 100%;
        display: flex;
        justify-content: center;
        &__content {
          width: 90%;
          height: 40px;
          margin-right: auto;
        }
        &__btn {
          width: 9%;
          height: 40px;
          border: 1px solid;
          cursor: pointer;
          color: white;
          background-color: rgb(163, 159, 159);
        }
      }
    }
  }
}
