.right-profile__mentor {
  height: 64px;
  line-height: 64px;
  text-align: center;
  font-weight: bold;
}

.mentor-all__list {
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
  &__wrapper {
    display: flex;
    padding-bottom: 8px;
    &__user {
      width: 40%;
      text-align: center;
      margin: auto;

      .mentor-icon {
        width: 25%;
        margin: 0 auto;
        &__img {
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
      }
      .mentor-name {
        width: fit-content;
        margin: 0 auto;
        margin-top: 8px;
        display: block;
        font-size: 14px;
        &__link {
          font-size: 14px;
          font-weight: bold;
          color: black;
          cursor: pointer;
        }
      }
    }
    &__info {
      width: 60%;
      border-bottom: 1px solid #eee;

      .mentor-tags {

        a {
          padding: 4px 16px;
          font-size: 14px;
          font-weight: bold;
          color: white;
          background-color: rgb(0, 174, 255);
          pointer-events: none;
        }
        a:hover {
          opacity: 1;
        }
        ul {
          display: flex;
          margin-top: 8px;
          margin-bottom: 8px;
          li {
            font-size: 12px;
            font-weight: bold;
            background-color: orange;
            color: white;
            border-radius: 10px;
            margin-right: 16px;
            padding: 2px 16px;
          }
        }
      }
      .mentor-fee {
        border-top: 1px solid #eee;
        padding-top: 8px;
        a {
          padding: 4px 30px;
          font-size: 14px;
          font-weight: bold;
          color: white;
          background-color: rgb(0, 174, 255);
          pointer-events: none;
        }
        a:hover {
          opacity: 1;
        }
      }
      .mentor-fee-text {
        width: fit-content;
        font-size: 12px;
        font-weight: bold;
        background-color: orange;
        color: white;
        border-radius: 10px;
        padding: 2px 16px;
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .mentor-reviews {
        border-top: 1px solid #eee;
        padding-top: 8px;
        a {
          padding: 4px 30px;
          font-size: 14px;
          font-weight: bold;
          color: white;
          background-color: rgb(0, 174, 255);
          pointer-events: none;
        }
        a:hover {
          opacity: 1;
        }
      }
      .mentor-reviews-rate {
        width: fit-content;
        font-size: 12px;
        font-weight: bold;
        background-color: orange;
        color: white;
        border-radius: 10px;
        margin-top: 8px;
        margin-right: 16px;
        margin-bottom: 8px;
        padding: 2px 16px;
      }
    }
  }
  &__review {
    margin: 0 auto ;
    margin-bottom: 16px;
    width: 80%;
    .review-form-label {
      font-size: 12px;
      font-weight: bold;
      color: white;
      background-color: rgb(0, 174, 255);
      padding: 4px 8px;
      pointer-events: none;
    }
    .form {
      .star-rate {
        height: 32px;

        img {
          height: 24px;
          width: 24px;
        }

        .star-rate-label {
          font-size: 12px;
          font-weight: bold;
          pointer-events: none;
        }
      }
      
      .review-form-flex {
        display: flex;

        .review-content-field {
          display: block;
          height: 28px;
          margin-right: 2px;
          width: 90%;
        }
        .review-submit-btn {
          background-color: rgb(161, 154, 154);
          color: white;
          font-size: 12px;
          font-weight: bold;
          border: 1px solid;
          display: block;
          width: 5%;
          cursor: pointer;
        }
      }
    }
  }
}