.mypage-container {
  width: 100%;
  &__flex {
    display: flex;
    justify-content: space-between;

    .right-profile {
      width: 50%;
      margin: 40px 80px 40px 0;
      &__header {
        height: 60px;
        text-align: center;
        font-size: 24px;
        border-bottom: 2px solid #ea352d;
      }
      &__info {
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-weight: bold;
      }
      .info-all {
        &__list {
          border-bottom: 1px solid #eee;
          &__wrapper {
            margin-top: 16px;
            margin-bottom: 16px;
            padding: 0 16px 0 64px;
            
            .info-message {
              font-size: 16px;
            }
            .info-time {
              font-size: 14px;
              color: #888;
              text-align: right;
            }
          }
        }
      }
      &__messages {
        height: 64px;
        line-height: 64px;
        text-align: center;
        font-weight: bold;
        margin-top: 16px;
      }
      .messages-all {
        
        &__list {
          border-bottom: 1px solid #eee;
          margin-bottom: 16px;
          &__wrapper {
            padding: 0 16px 0 64px;
            margin: 16px 0;
            .message-username {
              font-size: 16px;
              text-align: left;
            }
            .message-text {
              font-size: 16px;
              text-align: left;
            }
            .message-time {
              font-size: 14px;
              color: #888;
              text-align: right;
            }
          }
        }
      }
    }
  }
}