<div class='site-image'>
  <%= image_tag 'site-image', class: 'site-image__w' %>
</div>
<div class='touroku'>
  <div class='register-link'>
    <%= link_to "無料登録", root_path, class: "register-link-btn" %>
  </div>
</div>
