<div class="show-post-page">
  <div class="user-profile">
    <div class="user-profile__icon">
    </div>
    <div class="user-profile__info">
    </div>
  </div>
  <div class="user-appeal">
    <div class="post__title">
      <%= @post.title %>
    </div>
    <div class="post__content">
      <%= simple_format @post.content %>
    </div>
  </div>
</div>