
.contents {
  background-color: whitesmoke;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  .card-link:nth-child(3n) {
    margin-right: 0;
  }
  .card-link {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: calc((100% - 80px) / 3);
    margin-right: 40px;
    margin-bottom: 40px;
    .mentor-card {
      background-color: white;
      padding: 16px;
      &__top {
        display: flex;
        .mentor-info {
          width: 120px;
          text-align: center;
          margin-right: 16px;
          font-size: 12px;
          &__face {
            .icon {
              height: 96px;
              width: 96px;
              vertical-align: bottom;
            }
          }
          &__name {
            color: black;
            height: 48px;
          }
        }
        .mentor-detail {
          color: black;
          height: 126px;
          width: 100%;
          padding: 10px;
          text-align: left;
          font-weight: bold;
          background-color: lemonchiffon;
        }
      }
      &__bottom {
        padding: 8px;
        margin-top: 12px;
        &__tags {
          display: flex;
          padding: 4px 0;
          align-items: center;
          ul {
            display: flex;
            font-size: 14px;
            font-weight: bold;
            margin-left: 28px;
            li {
              margin-right: 8px;
            }
          }
        }
        &__charge {
          display: flex;
          padding: 4px 0;
          .personal-fee {
            margin-left: 28px;
          }
        }
        &__score {
          display: flex;
          padding-top: 4px;
          padding-bottom: 8px;
          .personal-score {
            margin-left: 28px;
          }
        }
      }
    }
  }
}
.pagination {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-family: monospace;
  font-size: 20px;
  background-color: whitesmoke;
  span {
    margin-right: 8px;
  }
}

.touroku {
  height: 160px;
  background-color: orange;
  font-size: 20px;
  font-weight: 700;
  padding: 40px;
  align-items: center;
  .register-link {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    .register-link-btn {
      text-decoration: none;
      border: 2px solid #fcc9ac;
      border-radius: 8px;
      padding: 16px 100px;
      margin: 24px;
      color: orange;
      background-color: white;
    }  
  }
}
