// 投稿一覧ページ
.site-image {
  &__w {
    opacity: 0.7;
    width: 100%;
    height: 80vh;
    vertical-align: bottom;
  }
}

.contents {
  width: 100%;
  height: 100vh;
  background-color: #fcc9ac;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  .mentor-card {
    box-sizing: border-box;
    width: calc( 50% - 260px );
    background-color: white;
    padding: 16px;
    margin: 16px;
    &__top {
      display: flex;
      padding: 8px;
      .mentor-info {
        width: 80px;
        height: 80px;
        text-align: center;
        margin-right: 16px;
        &__face {
          margin-top: 16px;
          margin-bottom: 8px;
          .icon {
            height: 80px;
            width: 80px;
          }
        }
      }
    }
    &__tags {
      display: flex;
      margin: 8px 0 8px 16px;
      align-items: center;
      ul {
        display: flex;
        margin: 8px 0 8px 28px;
        li {
          margin-right: 8px;
        }
      }
    }
    &__charge {
      display: flex;
      margin: 8px 0 8px 16px;
      .personal-fee {
        margin-left: 28px;
      }
    }
    &__score {
      display: flex;
      margin: 8px 0 8px 16px;
      .personal-score {
        margin-left: 28px;
      }
    }
  }
}

.touroku {
  height: 160px;
  background-color: orange;
  font-size: 20px;
  font-weight: 700;
  padding: 40px;
  align-items: center;
  .register-link {
    text-align: center;
    margin: 40px 0 40px 0;
    line-height: 80px;
    height: 80px;
    .register-link-btn {
      text-decoration: none;
      border: 2px solid #fcc9ac;
      border-radius: 8px;
      padding: 16px 100px;
      margin: 24px;
      color: orange;
      background-color: white;
    }  
  }
}

// 新規投稿ページ
.new-post-page {

  .content__title {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
    }
  
  .form {
    width: 85%;
    height: 100%;
    margin: 0 auto 100px;
    padding-top: 30px;
    &__title {
      display: block;
      width: 95%;
      height: 50px;
      padding: 6px 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    &__text {
      display: block;
      width: 95%;
      height: 500px;
      margin-top: 15px;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
      resize: none;
    }
    &__fee {
      display: block;
      width: 95%;
      height: 50px;
      margin-top: 15px;
      padding: 6px 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    &__btn {
      display: block;
      width: 75%;
      margin: 30px auto 30px;
      padding: 16px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

// 投稿詳細ページ
.show-post-page {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: #f4f8fa;
  .user-profile {
    height: 100vh;
    position: sticky;
    align-self: flex-start;
    top: 100px;
    background-color: white;
    width: 30%;
    padding: 40px;
    &__icon {
      // border: 2px solid;
      padding: 16px;
      text-align: center;
      margin-bottom: 32px;
      &__show {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        vertical-align: bottom;
      }
    }
    &__info {
      &__name {
        text-align: center;
        padding-bottom: 16px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid gray;
      }
      &__fee {
        padding: 16px 0 12px 44px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid gray;
      }
      &__score {
        padding: 16px 0 12px 44px;
        font-size: 18px;
        font-weight: bold;
        border-bottom: 1px solid gray;
      }
    }
  }

  .user-appeal {
    background-color: white;
    width: 55%;
    .post__title {
      padding: 8px 0;
      text-align: center;
      background-color: paleturquoise;
      font-size: 40px;
      font-weight: 900;
    }
    .post__content {
      padding: 16px;
      text-align: left;
      font-size: 20px;
      letter-spacing: 0.1rem;
    }
  }
}

// 投稿編集ページ
.edit-post-page {

  .content__title {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    padding-top: 30px;
    text-align: center;
    }
  
  .form {
    width: 85%;
    height: 100%;
    margin: 0 auto 100px;
    padding-top: 30px;
    &__title {
      display: block;
      width: 95%;
      height: 50px;
      padding: 6px 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    &__text {
      display: block;
      width: 95%;
      height: 500px;
      margin-top: 15px;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
      resize: none;
    }
    &__fee {
      display: block;
      width: 95%;
      height: 50px;
      margin-top: 15px;
      padding: 6px 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
    }
    &__btn {
      display: block;
      width: 75%;
      margin: 30px auto 30px;
      padding: 16px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}